*{
     margin: 0;
     padding: 0;
}

.todo-app{
    padding: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid  black;
    text-align: center;
    margin: 100px;
}

li{
    text-transform: capitalize;
    list-style: none;
    padding: 5px;
}
ol{
    display: flex;
    margin: 5px;
    margin-left: 80px;
}

.products{
    text-align: center;
}

input{
    border: white;
    border-style: none;
    border-bottom: 1px solid black;
}